#header
{
    padding-bottom: 50px;
}

#content
{
    overflow: auto;
    padding-bottom: 150px;
}

.selected
{
    font-weight: bold;
}

.groupcontainer
{
    float: left;
    padding: 10px;
    clear:both;
    background-color: #CCCCCC;
    width:100%;
}

.groupname
{
    float:left;

    clear:both;
}

.imgcontainer
{
    background-color: #000000;
    width: 166px;
    height: 166px;
    float: left;
    margin: 5px;

    position: relative;
}

.imgentry
{
    position: absolute;
    max-width: 100%;
    max-height: 100%;

    top:50%;
    left:50%;

    transform: translate(-50%, -50%);
}